# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Firebase service account credentials
!package.json
!package-lock.json
*.json

# Environment variables
.env

# Logs
*.log

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db